<div id="dropin-wrapper">
  <div id="checkout-message"></div>
  <div id="dropin-container"></div>
  <button id="submit-button">Submit payment</button>
  <!-- <div id="paypal-button"></div> -->

</div>
<script>
  var button = document.querySelector('#submit-button');
  $.ajax({
    type: 'GET',
    url: 'http://localhost:3000/checkout/client_token',
    // data: {'paymentMethodNonce': payload.nonce}
  }).done(function(clientToken) {
      console.log(clientToken);
      // client_token
      braintree.dropin.create({
        // Insert your tokenization key here
        // authorization: 'sandbox_q4nkc2k5_w5tbt5qrnt297c5p', //'<use_your_tokenization_key>',
        authorization: clientToken,   // authorize by client token instead of tokenization!
        container: '#dropin-container',
        paypal: {
              flow: 'checkout',
              amount: '10.00',
              currency: 'USD'
                }
      }, function (createErr, instance) {
        button.addEventListener('click', function () {
          instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
            // When the user clicks on the 'Submit payment' button this code will send the
            // encrypted payment information in a variable called a payment method nonce
            $.ajax({
              type: 'POST',
              url: '/checkout',
              data: {'paymentMethodNonce': payload.nonce}
            }).done(function(result) {
              // Tear down the Drop-in UI
              instance.teardown(function (teardownErr) {
                if (teardownErr) {
                  console.error('Could not tear down Drop-in UI!');
                } else {
                  console.info('Drop-in UI has been torn down!');
                  // Remove the 'Submit payment' button
                  $('#submit-button').remove();
                }
              });

              if (result.success) {
                  console.log(result.transaction);
                $('#checkout-message').html(
/*                    '<h1>Success</h1><p>Your Drop-in UI is working! Check your <a href="https://sandbox.braintreegateway.com/login">sandbox Control Panel</a> for your test transactions.</p><p>Refresh to try another transaction.</p>'*/
                    `
                    <h1>Success</h1>
                    <p>Your transaction id is <strong>${result.transaction.id}</strong><br>
                    Check your <a href="https://sandbox.braintreegateway.com/login">sandbox Control Panel</a> for your test transactions.
                    </p>


                `);
              } else {
                console.log(result);
                $('#checkout-message').html('<h1>Error</h1><p>Check your console.</p>');
              }
            });
          });
        });
      });
});
// console.log(clientToken);   // ok!

</script>
<!-- <script>
// Create a client.
braintree.client.create({
authorization: 'sandbox_q4nkc2k5_w5tbt5qrnt297c5p' //CLIENT_AUTHORIZATION
}, function (clientErr, clientInstance) {

// Stop if there was a problem creating the client.
// This could happen if there is a network error or if the authorization
// is invalid.
if (clientErr) {
console.error('Error creating client:', clientErr);
return;
}

// Create a PayPal Checkout component.
braintree.paypalCheckout.create({
client: clientInstance
}, function (paypalCheckoutErr, paypalCheckoutInstance) {

// Stop if there was a problem creating PayPal Checkout.
// This could happen if there was a network error or if it's incorrectly
// configured.
if (paypalCheckoutErr) {
  console.error('Error creating PayPal Checkout:', paypalCheckoutErr);
  return;
}

// Set up PayPal with the checkout.js library
paypal.Button.render({
  env: 'sandbox', // or 'sandbox'

  payment: function () {
    return paypalCheckoutInstance.createPayment(
        {
              flow: 'checkout',
              amount: '10.00',
              currency: 'USD'
                }
    //     {
    //   // Your PayPal options here. For available options, see
    //   // http://braintree.github.io/braintree-web/current/PayPalCheckout.html#createPayment
    //   flow: 'checkout', // Required
    //   amount: 10.00, // Required
    //   currency: 'USD', // Required
    //   enableShippingAddress: true,
    //   shippingAddressEditable: false,
    //   shippingAddressOverride: {
    //     recipientName: 'Scruff McGruff',
    //     line1: '1234 Main St.',
    //     line2: 'Unit 1',
    //     city: 'Chicago',
    //     countryCode: 'US',
    //     postalCode: '60652',
    //     state: 'IL',
    //     phone: '123.456.7890'
    //   }
    // }
);
  },

  onAuthorize: function (data, actions) {
    return paypalCheckoutInstance.tokenizePayment(data)
      .then(function (payload) {
        // Submit `payload.nonce` to your server.
      });
  },

  onCancel: function (data) {
    console.log('checkout.js payment cancelled', JSON.stringify(data, 0, 2));
  },

  onError: function (err) {
    console.error('checkout.js error', err);
  }
}, '#paypal-button').then(function () {
  // The PayPal button will be rendered in an html element with the id
  // `paypal-button`. This function will be called when the PayPal button
  // is set up and ready to be used.
});

});

});
</script> -->
